@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
  font-family: 'General Sans', sans-serif;
}

@layer base {
  @font-face {
    font-family: 'circular-web';
    src: url('/fonts/circularweb-book.woff2') format('woff2');
  }

  @font-face {
    font-family: 'general';
    src: url('/fonts/general.woff2') format('woff2');
  }

  @font-face {
    font-family: 'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'robert-regular';
    src: url('/fonts/robert-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'zentry';
    src: url('/fonts/zentry-regular.woff2') format('woff2');
  }
}

@layer utilities {
  .special-font b {
    font-family: 'Zentry';
    font-feature-settings: 'ss01' on;
  }
  .hero-heading {
    @apply font-zentry uppercase text-gold text-7xl tablet:right-10 tablet:text-8xl desktop:text-[10rem];
  }
  .hero-heading-position {
    @apply absolute bottom-5 right-5 tablet:right-10 desktop:right-14;
  }
  .absolute-center {
    @apply absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%];
  }
  .animated-title {
    @apply font-zentry text-5xl uppercase leading-[.8] text-black tablet:text-7xl laptop:text-8xl;
  }
  .about-subtext {
    @apply font-circular-web leading-5 text-sm text-center desktop:text-lg;
  }
  .mask-clip-path-about {
    clip-path: polygon(43% 10%, 88% 1%, 100% 91%, 0 48%);
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .animated-word {
    opacity: 0;
  }
}
